<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanshuai.mapper.StudentMapper">
    <!--根据时间倒序查询学生列表-->
    <select id="list" resultType="com.yuanshuai.pojo.Student">
        select
        s.id,
        s.name,
        no,
        gender,
        phone,
        id_card,
        is_college,
        address,
        degree,
        graduation_date,
        clazz_id,
        c.name as clazz_name,
        violation_count,
        violation_score,
        s.create_time,
        s.update_time
        from student s
        left join clazz c on c.id = s.clazz_id <!-- 关联班级表（clazz） -->
        <where>
            <if test="name != null and name !=''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree != null and degree !=''">
                and degree = #{degree}
            </if>
            <if test="clazzId != null and clazzId !=''">
                and clazz_id = #{clazzId}
            </if>
        </where>
        order by s.create_time desc <!-- 按创建时间倒序排序 -->
        <!-- 分页由MyBatis-Plus自动处理，无需写limit -->
    </select>

    <delete id="deleteByIds">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getStudentDegreeData" resultType="java.util.Map">
        select (case
                    when degree = 1 then '初中'
                    when degree = 2 then '高中'
                    when degree = 3 then '大专'
                    when degree = 4 then '本科'
                    when degree = 5 then '硕士'
                    when degree = 6 then '博士'
                    else '其他' end
                   ) name,
               count(*) value
        from student
        group by degree
        order by value
    </select>

</mapper>